In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('loan_prediction.csv')

### 1. Display Top 5 Rows of The Dataset

In [3]:
data.head()

,loan_id,gender,married,no_of_dependents,education,self_employed,income_annum,co_app_income,loan_amount,loan_term_months,property_area,cibil_score,credit_history,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,M,Yes,2,Graduate,No,9600000,6000000,29900000,300,Semi-Urban,778,1,2400000,17600000,22700000,8000000,Approved
1,2,F,Yes,0,Not Graduate,Yes,4100000,6000000,12200000,264,Semi-Urban,417,0,2700000,2200000,8800000,3300000,Rejected
2,3,F,No,3,Graduate,No,9100000,5500000,29700000,360,Semi-Urban,506,0,7100000,4500000,33300000,12800000,Rejected
3,4,M,Yes,3,Graduate,No,8200000,0,30700000,324,Urban,467,0,18200000,3300000,23300000,7900000,Rejected
4,5,F,Yes,5,Not Graduate,Yes,9800000,6000000,24200000,180,Semi-Urban,382,0,12400000,8200000,29400000,5000000,Rejected

### 2. Check Last 5 Rows of The Dataset

In [4]:
data.tail()

,loan_id,gender,married,no_of_dependents,education,self_employed,income_annum,co_app_income,loan_amount,loan_term_months,property_area,cibil_score,credit_history,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
110989,110990,F,No,5,Graduate,Yes,1000000,5500000,2300000,72,Rural,317,0,2800000,500000,3300000,800000,Rejected
110990,110991,F,Yes,0,Not Graduate,Yes,3300000,3500000,11300000,348,Semi-Urban,559,1,4200000,2900000,11000000,1900000,Approved
110991,110992,M,Yes,2,Not Graduate,No,6500000,6000000,23900000,24,Rural,457,0,1200000,12400000,18100000,7300000,Rejected
110992,110993,F,Yes,1,Not Graduate,No,4100000,4000000,12800000,300,Semi-Urban,780,1,8200000,700000,14100000,5800000,Approved
110993,110994,F,No,1,Graduate,No,9200000,5500000,29700000,12,Urban,607,1,17800000,11800000,35700000,12000000,Approved

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
data.shape

(110994, 18)

In [6]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 110994
Number of Columns 18

### 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110994 entries, 0 to 110993
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   loan_id                   110994 non-null  int64
 1   gender                    110994 non-null  object
 2   married                   110994 non-null  object
 3   no_of_dependents          110994 non-null  int64
 4   education                 110994 non-null  object
 5   self_employed             110994 non-null  object
 6   income_annum              110994 non-null  int64
 7   co_app_income             110994 non-null  int64
 8   loan_amount               110994 non-null  int64
 9   loan_term_months          110994 non-null  int64
 10  property_area             110994 non-null  object
 11  cibil_score               110994 non-null  int64
 12  credit_history            110994 non-null  int64
 13  residential_assets_value  110994 non-null  int64
 14  commercial_assets_value   110994 non-null  int64
 15  luxury_assets_value       110994 non-null  int64
 16  bank_asset_value          110994 non-null  int64
 17  loan_status               110994 non-null  object
dtypes: int64(12), object(6)
memory usage: 15.2+ MB

### 5. Check Null Values In The Dataset

In [8]:
data.isnull().sum()

loan_id                     0
gender                      0
married                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
co_app_income               0
loan_amount                 0
loan_term_months            0
property_area               0
cibil_score                 0
credit_history              0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [9]:
data.isnull().sum()*100 / len(data)

loan_id                     0.0
gender                      0.0
married                     0.0
no_of_dependents            0.0
education                   0.0
self_employed               0.0
income_annum                0.0
co_app_income               0.0
loan_amount                 0.0
loan_term_months            0.0
property_area               0.0
cibil_score                 0.0
credit_history              0.0
residential_assets_value    0.0
commercial_assets_value     0.0
luxury_assets_value         0.0
bank_asset_value            0.0
loan_status                 0.0
dtype: float64

### 6. Handling The missing Values

In [10]:
data = data.drop('loan_id',axis=1)

In [11]:
data.head(1)

,gender,married,no_of_dependents,education,self_employed,income_annum,co_app_income,loan_amount,loan_term_months,property_area,cibil_score,credit_history,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,M,Yes,2,Graduate,No,9600000,6000000,29900000,300,Semi-Urban,778,1,2400000,17600000,22700000,8000000,Approved

In [12]:
columns = ['gender','no_of_dependents','loan_amount','loan_term_months']

In [13]:
data = data.dropna(subset=columns)

In [14]:
data.isnull().sum()*100 / len(data)

gender                      0.0
married                     0.0
no_of_dependents            0.0
education                   0.0
self_employed               0.0
income_annum                0.0
co_app_income               0.0
loan_amount                 0.0
loan_term_months            0.0
property_area               0.0
cibil_score                 0.0
credit_history              0.0
residential_assets_value    0.0
commercial_assets_value     0.0
luxury_assets_value         0.0
bank_asset_value            0.0
loan_status                 0.0
dtype: float64

In [15]:
data['self_employed'].mode()[0]

'Yes'

In [16]:
data['self_employed'] =data['self_employed'].fillna(data['self_employed'].mode()[0])

In [17]:
data.isnull().sum()*100 / len(data)

gender                      0.0
married                     0.0
no_of_dependents            0.0
education                   0.0
self_employed               0.0
income_annum                0.0
co_app_income               0.0
loan_amount                 0.0
loan_term_months            0.0
property_area               0.0
cibil_score                 0.0
credit_history              0.0
residential_assets_value    0.0
commercial_assets_value     0.0
luxury_assets_value         0.0
bank_asset_value            0.0
loan_status                 0.0
dtype: float64

In [18]:
data['gender'].unique()

array(['M', 'F'], dtype=object)

In [19]:
data['self_employed'].unique()

array(['No', 'Yes'], dtype=object)

In [20]:
data['credit_history'].mode()[0]

1

In [21]:
data['credit_history'] =data['credit_history'].fillna(data['credit_history'].mode()[0])

In [22]:
data.isnull().sum()*100 / len(data)

gender                      0.0
married                     0.0
no_of_dependents            0.0
education                   0.0
self_employed               0.0
income_annum                0.0
co_app_income               0.0
loan_amount                 0.0
loan_term_months            0.0
property_area               0.0
cibil_score                 0.0
credit_history              0.0
residential_assets_value    0.0
commercial_assets_value     0.0
luxury_assets_value         0.0
bank_asset_value            0.0
loan_status                 0.0
dtype: float64

### 7. Handling Categorical Columns

In [23]:
data.sample(5)

,gender,married,no_of_dependents,education,self_employed,income_annum,co_app_income,loan_amount,loan_term_months,property_area,cibil_score,credit_history,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
108629,F,Yes,0,Graduate,Yes,1800000,6000000,6000000,300,Urban,658,1,2900000,2300000,4500000,2400000,Approved
67614,M,No,2,Not Graduate,No,8900000,4000000,23100000,324,Urban,519,0,22800000,500000,25200000,4700000,Rejected
101345,F,No,3,Not Graduate,Yes,3800000,3500000,13700000,120,Semi-Urban,662,1,4800000,400000,12400000,5300000,Approved
19844,F,No,4,Not Graduate,Yes,7700000,3500000,23400000,180,Urban,400,0,3900000,3400000,20800000,10700000,Rejected
32867,M,No,4,Graduate,Yes,6400000,0,21700000,72,Urban,384,0,16500000,8200000,15100000,5700000,Rejected

In [24]:
data['no_of_dependents'] =data['no_of_dependents'].replace(to_replace="3+",value='4')

In [25]:
data['no_of_dependents'].unique()

array([2, 0, 3, 5, 4, 1])

In [26]:
data['loan_status'].unique()

array(['Approved', 'Rejected'], dtype=object)

In [27]:
data['gender'] = data['gender'].map({'M':1,'F':0}).astype('int')
data['married'] = data['married'].map({'Yes':1,'No':0}).astype('int')
data['education'] = data['education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
data['self_employed'] = data['self_employed'].map({'Yes':1,'No':0}).astype('int')
data['property_area'] = data['property_area'].map({'Rural':0,'Semi-Urban':2,'Urban':1}).astype('int')
data['loan_status'] = data['loan_status'].map({'Approved':1,'Rejected':0}).astype('int')

In [28]:
data.head(10)

,gender,married,no_of_dependents,education,self_employed,income_annum,co_app_income,loan_amount,loan_term_months,property_area,cibil_score,credit_history,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,1,2,1,0,9600000,6000000,29900000,300,2,778,1,2400000,17600000,22700000,8000000,1
1,0,1,0,0,1,4100000,6000000,12200000,264,2,417,0,2700000,2200000,8800000,3300000,0
2,0,0,3,1,0,9100000,5500000,29700000,360,2,506,0,7100000,4500000,33300000,12800000,0
3,1,1,3,1,0,8200000,0,30700000,324,1,467,0,18200000,3300000,23300000,7900000,0
4,0,1,5,0,1,9800000,6000000,24200000,180,2,382,0,12400000,8200000,29400000,5000000,0
5,0,0,0,1,1,4800000,6000000,13500000,48,1,319,0,6800000,8300000,13700000,5100000,0
6,0,1,5,1,0,8700000,2000000,33000000,144,1,678,1,22500000,14800000,29200000,4300000,1
7,1,0,2,1,1,5700000,3500000,15000000,360,0,382,0,13200000,5700000,11800000,6000000,0
8,0,0,0,1,1,800000,4000000,2200000,240,0,782,1,1300000,800000,2800000,600000,1
9,0,0,5,0,0,1100000,6000000,4300000,180,0,388,0,3200000,1400000,3300000,1600000,0

### 8. Store Feature Matrix In X And Response (Target) In Vector y

In [29]:
X = data.drop('loan_status',axis=1)

In [30]:
y = data['loan_status']

In [31]:
y

0         1
1         0
2         0
3         0
4         0
         ..
110989    0
110990    1
110991    0
110992    1
110993    1
Name: loan_status, Length: 110994, dtype: int64

### 9. Feature Scaling

In [32]:
data.head()

,gender,married,no_of_dependents,education,self_employed,income_annum,co_app_income,loan_amount,loan_term_months,property_area,cibil_score,credit_history,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,1,2,1,0,9600000,6000000,29900000,300,2,778,1,2400000,17600000,22700000,8000000,1
1,0,1,0,0,1,4100000,6000000,12200000,264,2,417,0,2700000,2200000,8800000,3300000,0
2,0,0,3,1,0,9100000,5500000,29700000,360,2,506,0,7100000,4500000,33300000,12800000,0
3,1,1,3,1,0,8200000,0,30700000,324,1,467,0,18200000,3300000,23300000,7900000,0
4,0,1,5,0,1,9800000,6000000,24200000,180,2,382,0,12400000,8200000,29400000,5000000,0

In [33]:
cols = ['income_annum','co_app_income','loan_amount','loan_term_months']

In [34]:
from sklearn.preprocessing import MinMaxScaler
st = MinMaxScaler()

X[cols]=st.fit_transform(X[cols])

In [35]:
X

,gender,married,no_of_dependents,education,self_employed,income_annum,co_app_income,loan_amount,loan_term_months,property_area,cibil_score,credit_history,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,1,1,2,1,0,0.969072,1.000000,0.755102,0.827586,2,778,1,2400000,17600000,22700000,8000000
1,0,1,0,0,1,0.402062,1.000000,0.303571,0.724138,2,417,0,2700000,2200000,8800000,3300000
2,0,0,3,1,0,0.917526,0.916667,0.750000,1.000000,2,506,0,7100000,4500000,33300000,12800000
3,1,1,3,1,0,0.824742,0.000000,0.775510,0.896552,1,467,0,18200000,3300000,23300000,7900000
4,0,1,5,0,1,0.989691,1.000000,0.609694,0.482759,2,382,0,12400000,8200000,29400000,5000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110989,0,0,5,1,1,0.082474,0.916667,0.051020,0.172414,0,317,0,2800000,500000,3300000,800000
110990,0,1,0,0,1,0.319588,0.583333,0.280612,0.965517,2,559,1,4200000,2900000,11000000,1900000
110991,1,1,2,0,0,0.649485,1.000000,0.602041,0.034483,0,457,0,1200000,12400000,18100000,7300000
110992,0,1,1,0,0,0.402062,0.666667,0.318878,0.827586,2,780,1,8200000,700000,14100000,5800000
110993,0,0,1,1,0,0.927835,0.916667,0.750000,0.000000,1,607,1,17800000,11800000,35700000,12000000

### 10. Splitting The Dataset Into The Training Set And Test Set & Applying K-Fold Cross Validation

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [37]:
model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,
                                                   test_size=0.20,
                                                   random_state=42)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")
    
    score = cross_val_score(model,X,y,cv=5)
    print(f"{model} Avg cross val score is {np.mean(score)}")
    model_df[model]=round(np.mean(score)*100,2)

In [38]:
model_df

{}

### 11. Logistic Regression

In [39]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model_val(model,X,y)

LogisticRegression() accuracy is 0.6232713185278617
LogisticRegression() Avg cross val score is 0.6760540760680097

### 12. SVC

In [ ]:
from sklearn import svm
model = svm.SVC()
model_val(model,X,y)

### 13. Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model_val(model,X,y)

### 14. Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model =RandomForestClassifier()
model_val(model,X,y)

### 15. Gradient Boosting Classifier

In [43]:
from sklearn.ensemble import GradientBoostingClassifier
model =GradientBoostingClassifier()
model_val(model,X,y)

GradientBoostingClassifier() accuracy is 0.7927927927927928
GradientBoostingClassifier() Avg cross val score is 0.774004914004914

### 16. Hyperparameter Tuning

In [44]:
from sklearn.model_selection import RandomizedSearchCV

### Logistic Regression

In [45]:
log_reg_grid={"C":np.logspace(-4,4,20),
             "solver":['liblinear']}

In [46]:
rs_log_reg=RandomizedSearchCV(LogisticRegression(),
                   param_distributions=log_reg_grid,
                  n_iter=20,cv=5,verbose=True)

In [47]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [48]:
rs_log_reg.best_score_

0.8047829647829647

In [49]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

### SVC

In [50]:
svc_grid = {'C':[0.25,0.50,0.75,1],"kernel":["linear"]}

In [51]:
rs_svc=RandomizedSearchCV(svm.SVC(),
                  param_distributions=svc_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

In [52]:
rs_svc.fit(X,y)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:305: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [53]:
rs_svc.best_score_

0.8066011466011467

In [54]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

###  Random Forest Classifier

In [55]:
RandomForestClassifier()

RandomForestClassifier()

In [56]:
rf_grid={'n_estimators':np.arange(10,1000,10),
  'max_features':['auto','sqrt'],
 'max_depth':[None,3,5,10,20,30],
 'min_samples_split':[2,5,20,50,100],
 'min_samples_leaf':[1,2,5,10]
 }

In [57]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),
                  param_distributions=rf_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

In [58]:
rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(
/home/vivek/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [59]:
rs_rf.best_score_

0.8066175266175266

In [60]:
rs_rf.best_params_

{'n_estimators': 20,
 'min_samples_split': 20,
 'min_samples_leaf': 2,
 'max_features': 'sqrt',
 'max_depth': 20}

In [61]:
## LogisticRegression score Before Hyperparameter Tuning: 80.48
## LogisticRegression score after Hyperparameter Tuning: 80.48 
    
## ------------------------------------------------------
## SVC score Before Hyperparameter Tuning: 79.38
## SVC score after Hyperparameter Tuning: 80.66
    
## --------------------------------------------------------
## RandomForestClassifier score Before Hyperparameter Tuning: 77.76
## RandomForestClassifier score after Hyperparameter Tuning: 80.66

### 17. Save The Model

In [62]:
X = data.drop('loan_status',axis=1)
y = data['loan_status']

In [63]:
rf = RandomForestClassifier(n_estimators=270,
 min_samples_split=5,
 min_samples_leaf=5,
 max_features='sqrt',
 max_depth=5)

In [64]:
rf.fit(X,y)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       n_estimators=270)

In [65]:
import joblib

In [66]:
joblib.dump(rf,'loan_status_predict')

['loan_status_predict']

In [67]:
model = joblib.load('loan_status_predict')

In [68]:
import pandas as pd
df = pd.DataFrame({
    'gender':1,
    'married':1,
    'no_of_dependents':2,
    'education':0,
    'self_employed':0,
    'income_annual':2889,
    'co_app_income':0.0,
    'loan_amount':45,
    'loan_term_months':180,
    'credit_history':0,
    'property_area':1
},index=[0])

In [69]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,2,0,0,2889,0.0,45,180,0,1

In [70]:
result = model.predict(df)

In [71]:
if result==1:
    print("Loan Approved")
else:
    print("Loan Not Approved")

Loan Not Approved

# GUI

In [72]:
from tkinter import *
import joblib
import pandas as pd

In [ ]:
def show_entry():
    
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())
    
    model = joblib.load('loan_status_predict')
    df = pd.DataFrame({
    'gender':p1,
    'married':p2,
    'no_of_dependents':p3,
    'education':p4,
    'self_employed':p5,
    'income_annual':p6,
    'co_app_income':p7,
    'loan_amount':p8,
    'oan_term_months':p9,
    'credit_history':p10,
    'property_area':p11
},index=[0])
    result = model.predict(df)
    
    if result == 1:
        Label(master, text="Loan approved").grid(row=31)
    else:
        Label(master, text="Loan Not Approved").grid(row=31)
        
    
master =Tk()
master.title("Loan Status Prediction Using Machine Learning")
label = Label(master,text = "Loan Status Prediction",bg = "black",
               fg = "white").grid(row=0,columnspan=2)

Label(master,text = "Gender [1:Male ,0:Female]").grid(row=1)
Label(master,text = "Married [1:Yes,0:No]").grid(row=2)
Label(master,text = "Dependents [1,2,3,4]").grid(row=3)
Label(master,text = "Education [1.Graduated, 2.Non-Graduated]").grid(row=4)
Label(master,text = "Self_Employed [1.Yes, 2.No]").grid(row=5)
Label(master,text = "ApplicantIncome").grid(row=6)
Label(master,text = "CoapplicantIncome").grid(row=7)
Label(master,text = "LoanAmount").grid(row=8)
Label(master,text = "Loan_Amount_Term").grid(row=9)
Label(master,text = "Credit_History[1/0]").grid(row=10)
Label(master,text = "Property_Area [1.Urban, 2.Rural]").grid(row=11)


e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)


e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)
e8.grid(row=8,column=1)
e9.grid(row=9,column=1)
e10.grid(row=10,column=1)
e11.grid(row=11,column=1)

Button(master,text="Predict",command=show_entry).grid()

mainloop()